python-telegram-bot[job-queue]==20.7

tzdata>=2023.3

# Если вдруг будете запускать на Python 3.8–3.9, раскомментируйте строку ниже —
# она подтянет backport ZoneInfo.
# backports.zoneinfo; python_version < "3.9"
